<div id=footer">
    &copy; 2016 Powered By <a href="http://flask.pocoo.org/" target="_blank" rel="nofollow">Flask</a> +
    <a href="http://jinja.pocoo.org/docs/" target="_blank" rel="nofollow">Jinja2</a> +
    <a href="https://github.com/docker/docker-registry" target="_blank" rel="nofollow">Docker-Registry</a>.<br/>Find the source code at
    <a href="https://github.com/staugur/docker-registry-ui" target="_blank" rel="nofollow">https://github.com/staugur/docker-registry-ui</a>
</div>
</div>
</body>
</html>
