</div>


<!--
<div id=footer">
    &copy; 2014 &nbsp;&nbsp;&nbsp;Powered By <a href="http://webpy.org/" target="_blank" rel="nofollow">web.py</a> +
    <a href="http://www.mongodb.org/" target="_blank" rel="nofollow">MongoDB</a> +
    <a href="http://jinja.pocoo.org/docs/" target="_blank" rel="nofollow">Jinja2</a> on
    <a href="https://openshift.redhat.com/" target="_blank" rel="nofollow">OpenShift</a>.<br/>Find the source code at
    <a href="https://github.com/arkii/docker-registry-ui" target="_blank" rel="nofollow">https://github.com/arkii/docker-registry-ui</a>
-->

</div>
</div>
</body>
</html>