{% include 'header.html' %}

<!--    <h1>Docker Registry UI</h1>
    <hr>
-->
<div>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            {% for i in msg['tableheader'] %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        {% for i in msg['results'] %}
            <tr>
                <td><a href="/tags/{{ i['name'] }}">{{ i['name'] }}</a></td>
                <td>{{ i['description'] }}</td>
            </tr>
        {% endfor %}
    </table>

    {#    <span class="errdiagnose_title">{{ msg['server_headers'] }} </span>#}
    {#    <span class="errdiagnose_content">{{ msg['server_message'] }} {{ msg['server_code'] }} </span>#}

</div>
<span> {{ msg }} </span>
{% include 'footer.html' %}
