{% include 'header.html' %}

<div class="container">
    <div>
        <h3>Docker Registry Info Dashboard</h3>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <tr>
                <th>Tag Key</th>
                <th>Tag Key Info</th>
            </tr>
            {% for k, v in data['json'].iteritems() %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>ancestry</td>
                <td>
                    {% for i in data['ancestry'] %}
                        <a href="/info/{{ i }}">{{ i }}</a><br/>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>

{% include 'footer.html' %}