{% include 'header.html' %}
<div class="container">

<div>
    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            {% for i in msg['tableheader'] %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        {% for k, v in msg['result'].iteritems() %}
            <tr>
                <td>{{ k }}</td>
                {#                <td><a href="/info/{{ v }}">{{ v }}</a></td>#}
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
        {% if ancestry %}
            <tr>
                <td>{{ ancestry['tableheader'] }}</td>
                <td>
                    {% for i in ancestry['data'] %}
                        <a href="/info/{{ i }}">{{ i }}</a><br/>
                    {% endfor %}

                </td>
            </tr>
        {% endif %}
    </table>
</div>
{#<span> {{ ancestry }} </span>#}
{#<span> {{ msg }} </span>#}
</div>

{% include 'footer.html' %}