{% include 'header.html' %}
<div class="container">

    <div>
        <h3>Tags</h3>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <tr>
                {% for i in tableheader %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
            {% for k, v in msg['result'].iteritems() %}
                <tr>
                    <td>{{ k }}</td>
                    <td><a href="/info/{{ v }}">{{ v }}</a></td>
                    <td>
                        <div>
                            <a href="/info/{{ v}}">
                                <button type="button" class="btn btn-link" id="my-tooltip" data-toggle="tooltip"
                                        data-placement="right" title="Info"><span
                                        class="glyphicon glyphicon-info-sign"></span></button>
                            </a>
                            <button type="button" value="{{ reponame }}/{{ k }}" class="rm-pre btn btn-link" id="my-tooltip"
                                    data-target="#myModal" data-toggle="modal" data-placement="right"
                                    title="Delete This Tag"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr>

    {% include "image_tag_delete.html" %}
</div>

{% include 'footer.html' %}