{% include 'header.html' %}
<div class="container">

    {#<span> {{ ancestry }} </span>#}
{#    <span> {{ msg }} </span>#}

    <div>
        <h3>Tags</h3>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <tr>
                {% for i in tableheader %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
            {% for k, v in msg['result'].iteritems() %}
                <tr>
                    <td>{{ k }}</td>
                    <td><a href="/info/{{ v }}">{{ v }}</a></td>
                    <td>
                        <div>
                            <a href="/info/{{ v}}">
                                <button type="button" class="btn btn-link" id="my-tooltip" data-toggle="tooltip"
                                        data-placement="right" title="Info"><span
                                        class="glyphicon glyphicon-info-sign"></span></button>
                            </a>
                            <button type="button" value="{{ reponame }}/{{ k }}" class="rm-pre btn btn-link" id="my-tooltip"
                                    data-target="#myModal" data-toggle="modal" data-placement="right"
                                    title="Delete This Tag"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </table>

    </div>
    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content alert alert-danger">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                </button>

                <h4>Are you <b>ABSOLUTELY</b> sure?</h4>

                <p class="reponame">确定删除</p>

                <p>
                    <a class="rm-href">
                        <button type="button" class="btn btn-danger">YES！</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO!</button>

                </p>
            </div>
        </div>
    </div>

</div>
<div>
    <style>

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

    </style>
    <script src="/static/js/d3.min.js"></script>
    <script>

        var width = 640,
                height = 480;

        var cluster = d3.layout.cluster()
                .size([height, width - 160]);

        var diagonal = d3.svg.diagonal()
                .projection(function (d) {
                    return [d.y, d.x];
                });

        var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(40,0)");

        d3.json("{{ tree_json }}", function (error, root) {
            var nodes = cluster.nodes(root),
                    links = cluster.links(nodes);

            var link = svg.selectAll(".link")
                    .data(links)
                    .enter().append("path")
                    .attr("class", "link")
                    .attr("d", diagonal);

            var node = svg.selectAll(".node")
                    .data(nodes)
                    .enter().append("g")
                    .attr("class", "node")
                    .attr("transform", function (d) {
                        return "translate(" + d.y + "," + d.x + ")";
                    })

            node.append("circle")
                    .attr("r", 4.5);

            node.append("text")
                    .attr("dx", function (d) {
                        return d.children ? -8 : 8;
                    })
                    .attr("dy", 3)
                    .style("text-anchor", function (d) {
                        return d.children ? "end" : "start";
                    })
                    .text(function (d) {
                        return d.name;
                    });
        });

        d3.select(self.frameElement).style("height", height + "px");

    </script>
    <h3>Tags</h3>
</div>


{% include 'footer.html' %}